body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    padding-top: 20px;
    margin: 0px auto;
}

#table_result {
    margin: 20px 0px;
    width: 100%;
}

.center {
    text-align: center;
    width: 100px;
}

.button {
    text-align: center;
    width: 10px%;
}

#table_result td a {
    text-decoration: none;
}

#table_result th {
    background-color: #bbbbbb;
}