body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    padding-top: 10px;
    margin: 0px auto;
}

#table_result {
    width: 100%;
}

#table_result th {
    background-color: #bbbbbb;
}